*{
    padding: 0;
    margin: 0;
}
.body-home {
  background: rgb(113, 65, 127);
  background: linear-gradient(
    144deg,
    rgba(113, 65, 127, 1) 0%,
    rgba(54, 1, 52, 1) 42%,
    rgba(0, 0, 0, 0.9612219887955182) 100%
  );
}
