/*  --------------------------------------- GENERAL ------------------------------------------- */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* .card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.card a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
} */
/* ----------------------------------------- CONTAINER --------------------------------------- */

.card {
  width: 380px;
  height: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
  padding: 15px;
  border-radius: 5%;
  
}

/* ------------------------------------------ CARD ------------------------------------------- */

.card-container {
  border: 0.5px solid rgb(158, 157, 157);
  border-radius: 2%;
  width: 100%;
  height: 100%;
  align-items: center;
}

/* -------------------------------- CARD HEADER ---------------------------------------------- */

.card-header-container {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  height: 50px;
}

.header-tag-container {
  display: flex;
  height: 15px;
  width: 50px;
  border: 0.5px solid white;
  justify-content: center;
  align-self: center;
  border-radius: 30%;
  background: rgb(184, 176, 176);
  background: linear-gradient(
    336deg,
    rgba(184, 176, 176, 1) 0%,
    rgba(255, 255, 255, 1) 64%,
    rgba(203, 196, 196, 1) 85%,
    rgba(133, 132, 132, 1) 105%
  );
}
.header-tag-container small {
  font-size: 9px;
}

.card-name {
  text-align: start;
  align-self: center;
  text-transform: capitalize;
}
.card-header-hp {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 11px 3px;
}

.card-header-hp b {
  font-size: 9px;
  align-self: end;
  text-align: center;
  margin: 0 1px 4px 0;
}

.card-header-hp p {
  align-self: end;
  margin-right: 5px;
}

.header-icon {
  border: 0.5px solid #565656;
  border-radius: 50%;
  background-color: white;
  margin: 3px 3px 1px 3px;
}

/* -------------------------------- CARD IMAGE ----------------------------------------------- */

.card-image-container {
  border: 1px solid black;
  margin: 3px 10.5px 3px 10.5px;
  background-position: center;
  background-color: rgb(211, 211, 211);
  border-start-start-radius: 1%;
  border-start-end-radius: 1%;
  border-end-start-radius: 2%;
  border-end-end-radius: 2%;
}
.card-image-container-border {
  border: 1px solid rgb(92, 92, 92);
  margin: 2px 2px 3px 2px;
  background-image: url("../images/abstract.jpg");
  border-start-start-radius: 0.5%;
  border-start-end-radius: 0.5%;
  border-end-start-radius: 2%;
  border-end-end-radius: 2%;
}

.card-img {
  max-height: 200px;
  max-width: fit-content;
  object-fit: cover;
}

/* ------------------------------------ CARD IMAGE DESCRIPTION ------------------------------------- */

.card-image-description-container {
  border-top: 0.5px solid rgb(168, 168, 168);
  margin: 1px 0px 1px 0px;
}

.card-image-description-border {
  background: rgb(236, 234, 234);
  background: linear-gradient(
    90deg,
    rgba(236, 234, 234, 1) 0%,
    rgba(184, 182, 182, 1) 21%,
    rgba(236, 234, 234, 1) 43%,
    rgba(204, 202, 202, 1) 57%,
    rgba(236, 234, 234, 1) 78%,
    rgba(236, 234, 234, 1) 100%
  );
  border: 0.3px solid rgb(187, 187, 187);
  margin: 1px 2px 1px 2px;
  border-radius: 10%;
}

/*  ------------------------------------ CARD DESCRIPTION -------------------------------------- */

.card-description {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
}

.description-type {
  grid-row: 1/2;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.description-type p {
  margin: 15px;
}

.description-attack {
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.description-attack p {
  margin: 15px;
}

.card-link-container {
  grid-row: 3/4;
}

/*  ------------------------------------ CARD LINK -------------------------------------------- */


.card-link-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.link-button {
  color: white;
  text-decoration: none;
  border: 1px solid whitesmoke;
  border-radius: 12%;
  font-size: 12px;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 3px 11px 3px 11px;
  margin-bottom: 15px;
}

.link-button::before {
  margin-left: auto;
}

.link-button::after, .link-button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.5s;
}

.link-button:hover::after, .-link-button:hover::before {
  width: 100%;
}

/* --------------------------------------- SWITCH -----------------------------------------------*/

.normal-background {
  /* Estilos para tipo normal */
}

.fighting-background {
  /* Estilos para tipo fighting */
}

.flying-background {
  /* Estilos para tipo flying */
}

.poison-background {
  /* Estilos para tipo poison */
}

.ground-background {
  /* Estilos para tipo ground */
}

.bug-background {
  /* Estilos para tipo bug */
}

.rock-background {
  /* Estilos para tipo rock */
}

.ghost-background {
  /* Estilos para tipo ghost */
}

.steel-background {
  /* Estilos para tipo steel */
}

/* Tipos elementales */
.fire-background {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(217, 163, 163, 1) 23%,
    rgba(240, 45, 45, 1) 60%,
    rgba(240, 124, 124, 1) 83%,
    rgba(230, 38, 38, 1) 100%
  );
}


/* Tipos generales */
.normal-background {
  background: linear-gradient(45deg, #b3b3b3, #666666);
}

.fighting-background {
  background: linear-gradient(45deg, #ff4d4d, #cc0000); 
}

.flying-background {
  background: linear-gradient(45deg, #99ccff, #0055cc);
}

.poison-background {
  background: linear-gradient(45deg, #9933cc, #660099); 
}

.ground-background {
  background: linear-gradient(45deg, #cc9966, #996633); 
}

.bug-background {
  background: linear-gradient(45deg, #99cc33, #669900); 
}

.rock-background {
  background: linear-gradient(45deg, #b3b3b3, #666666); 
}

.ghost-background {
  background: linear-gradient(45deg, #663366, #330033);
}

.steel-background {
  background: linear-gradient(45deg, #999999, #666666); 
}

/* Tipos elementales */
.fire-background {
  background: linear-gradient(45deg, #ff0000, #d9a3a3, #f02d2d, #f07c7c, #e62626);
}

.water-background {
  background: linear-gradient(45deg, #3399ff, #0055cc);
}

.grass-background {
  background: linear-gradient(45deg, #66cc66, #339933); 
}

.electric-background {
  background: rgb(255, 248, 0);
  background: linear-gradient(
    332deg,
    rgba(255, 248, 0, 1) 0%,
    rgba(163, 165, 31, 1) 20%,
    rgba(255, 248, 0, 1) 43%,
    rgba(199, 196, 59, 1) 57%,
    rgba(255, 252, 31, 1) 78%,
    rgba(153, 153, 5, 0.9612219887955182) 95%
  ); 
}

.psychic-background {
  background: linear-gradient(45deg, #ff99cc, #ff3399);
}

.ice-background {
  background: linear-gradient(45deg, #66ccff, #3399cc); 
}

.dark-background {
  background: linear-gradient(45deg, #333333, #000000); 
}

.dragon-background {
  background: linear-gradient(45deg, #9966ff, #6633cc); 
}

.fairy-background {
  background: linear-gradient(45deg, #ff66ff, #ff3399); 
}

/* Tipos especiales */
.unknown-background {
  background: linear-gradient(45deg, #999999, #666666); 
}

.shadow-background {
  background: linear-gradient(45deg, #663300, #331a00); 
}