.card {
  width: 380px;
  height: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
  padding: 15px;
  background-color: rgb(253, 253, 97);
  border-radius: 5%;
}

.card-container {
  border: 0.5px solid rgb(158, 157, 157);
  border-radius: 2%;
  width: 100%;
  height: 100%;
  background: rgb(255, 248, 0);
  background: linear-gradient(
    332deg,
    rgba(255, 248, 0, 1) 0%,
    rgba(163, 165, 31, 1) 20%,
    rgba(255, 248, 0, 1) 43%,
    rgba(199, 196, 59, 1) 57%,
    rgba(255, 252, 31, 1) 78%,
    rgba(153, 153, 5, 0.9612219887955182) 95%
  );
}

.card-image-container {
  border: 1px solid black;
  margin: 3px 10.5px 3px 10.5px;
  background-position: center;
  background-color: rgb(211, 211, 211);
  border-start-start-radius: 1%;
  border-start-end-radius: 1%;
  border-end-start-radius: 2%;
  border-end-end-radius: 2%;
}
.card-image-container-border {
  border: 1px solid rgb(92, 92, 92);
  margin: 2px 2px 3px 2px;
  background-image: url("../images/abstract.jpg");
  border-start-start-radius: 0.5%;
  border-start-end-radius: 0.5%;
  border-end-start-radius: 2%;
  border-end-end-radius: 2%;
}

.card-image-description-container {
  border-top: 0.5px solid rgb(168, 168, 168);
  margin: 1px 0px 1px 0px;
}
.card-image-description-border {
  background: rgb(236, 234, 234);
  background: linear-gradient(
    90deg,
    rgba(236, 234, 234, 1) 0%,
    rgba(184, 182, 182, 1) 21%,
    rgba(236, 234, 234, 1) 43%,
    rgba(204, 202, 202, 1) 57%,
    rgba(236, 234, 234, 1) 78%,
    rgba(236, 234, 234, 1) 100%
  );
  border: 0.3px solid rgb(187, 187, 187);
  margin: 1px 2px 1px 2px;
  /* border-end-start-radius: 10%;
    border-end-end-radius: 10%; */
  border-radius: 10%;
}

.card-img {
  width: auto;
  max-height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
}

.card a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}
